html {
  float: ;
  text-align: center;
  overflow: hidden;
  font-family: ; *
  font-size: 100px; *
  background-image: url();
  background-repeat: ;
  background-position: ;
  background-color: red;

  padding: 1.
}